#include <stdio.h>
#include <camkes.h>

int run(void) {
  printf("%s requests directions from navigation server\n", get_instance_name());
  
  char *source = "A";
  char *destination = "B";
  char *directions;
  
  h2_provide_directions(get_instance_name(), source, destination, &directions);
  printf("%s \n", directions);

  return 0;
}
