#include <stdio.h>
#include <camkes.h>

int run(void) {
    printf("Starting the client1\n");
    printf("-------------------\n");

    printf("Component name %s\n", get_instance_name());

    char *shello = "hello world";
    char *shello1 = "hello";

    printf("First return value from Echo: %d.\n", h2_say_hello(shello));

    printf("Second return value from Echo: %d.\n", h2_say_hello(shello1));

    printf("After the client1\n");
    return 0;
}
